/* commun */
body {
	--main: #ebe1ff;
	--darker:  #d4bae6;
	--button:  #8247ff;
}
.header{
	text-align: center;			/*pour les titres de index*/
	color: #ffffff;
	background-color: var(--darker);
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2{
	font-size: 1em;
}
h1, h2, h3 {
	margin: 5px;
}
main {
	width: 90%;
	margin: auto;
}
.button{
	height: 30px;
	color: #fff;
	font-weight: bold;
	margin: 10px 0;
	background-color: var(--button);
	border-radius: 50px;
	border: none;
	transition: transform 200ms 100ms ease-out;
  	transform: scale(1);
}
.button:hover{
	transform: scale(1.05);
}
.button:active{
	color: var(--button);
	background-color: var(--main);
}

/* index */

.catalog{
	padding: 20px;
	/*border: 1px solid red;*/
}
.product{
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: raw;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	/*border-bottom: 1px solid grey;*/
	background-color: var(--main);
	border-radius: 10px;
	box-shadow: 2px 2px 3px #c2c2c2;
}
.tiers {
	width:  30%;
	min-width: 200px;
}
.thumbnail-teddies{
	width:  100%;
	/*min-width: 200px;*/
	border-radius: 10px;
}
.button-right{
	display: flex;
	justify-content: flex-end;
}

/* product et shopping_bsk */
.section{
	background-color: var(--main);
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #c2c2c2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.choice, .recap, .total {
	background-color: var(--darker);
	padding: 10px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.recap, .total{
	align-items: center;
	margin:  10px;
}
.recap{
	width: 50%;
}

/* product */
.details{
	width: 60%;
	min-width: 300px;
}
.photo{
	width: 100%;
	border-radius: 10px;
}

.choice form {
	display: flex;
	flex-direction: column;
	margin:  10px 0;
}
.button-center{
	display: flex;
	justify-content: center;
}

/* shopping_bsk */
.table{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px grey;
}
.table p{
	width: 30%;
	margin: 0;
}